.heading1{
    font-family: cursive;
    font-size: 2em;
    display: initial;
    text-align: center;
}

.main1{
    border-radius: 10px;
    border-color: blue;
}
.main2{
    border-radius: 10px;
    border-color: red;
    margin-top: 9px;
}
.main3{
    border-radius: 10px;
    border-color: rgb(63, 63, 44);
    margin-top: 9px;
    
}

.end{
    text-align: center;
    margin-top: 10px;
}
.sub{
    size: 40px;
    background-color:rgb(130, 216, 130);
    color:black;
    box-sizing: 10px;
    font-size: 2em;
}
.res{
    background-color: green;
    color: white;
}


.start{
    text-align: start;
   margin-bottom: 15px;
 }
 
 .button {
    border-radius: 8px;
    background-color: #63ce7e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .leg1{
    border-radius: 10px;
    border-color: chartreuse;
  }
 

  .btn10{
    background-color: rgb(54, 52, 52);
    color: #FFFFFF;
    border-radius: 10px;
  }